*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html,
body{
    height: 100%;
    width: 100%;
   
}
body{
    background-color: lightgreen;
    display: flex;
    align-items: center;
    justify-content: center;
}

#container{
    height: 400px;
    width: 350px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
   background-color: white; 

}
#container img{
    height: 100%;
    width: 100% ;
   
   object-fit: cover;
}

#container i{
    color: #fff;
    font-size: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)scale(0);
    opacity: 0.8;
    transition: transform ease.5s;
}
